{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'biometrics/table.css' %}">
{% endblock %}

{% block title %}
Client biometrics
{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>Data for {{ client.full_name }} ({{ client.sex }}, {{ client.age }})</h1>
        <br>
        <h3>Height: {{ client.height }}"; Ideal Weight: {{ client.ideal_weight }} lbs; Usual Weight: {{ client.usual_weight }} lbs</h3>
        <br>
    </div>
    <div id="metrics-table">
        {% include 'table.html' with col_names=dates rows=metrics %}
    </div>
</div>
{% endblock %}
