{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'biometrics/styles/vendor/c3.min.css' %}">
<link rel="stylesheet" href="{% static 'biometrics/styles/biometrics_chart.css' %}">
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="{% static 'biometrics/scripts/vendor/c3.min.js' %}"></script>

<script>
    var showOnLoad = '{{ c3.showOnLoad }}';
    var xs = JSON.parse('{{ c3.xs|safe }}');
    var columns = JSON.parse('{{ c3.columns|safe }}');
</script>
<script src="{% static 'biometrics/scripts/biometric_chart.js' %}"></script>
{% endblock %}

{% block title %}
Client biometrics
{% endblock %}

{% block body %}
<div class="container">
    <div class="text-center">
        <h1>Data for {{ client.full_name }} ({{ client.sex }}, {{ client.age }})</h1>
        <br>
        <h3>Height: {{ client.height }}"; Ideal Weight: {{ client.ideal_weight }} lbs; Usual Weight: {{ client.usual_weight }} lbs</h3>
        <br>
    </div>
    <div id="chart"></div>
</div>
{% endblock %}
